body {
    display: flex;
    align-items: center;
    justify-content: center;
}


.game-container {
    position: relative;
    padding-right: auto;
    width: 812px;
    height: 574px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.control-board {
    background-color: rgba(0, 0, 0, 0.671);
    padding: 96px 406px;
    position: absolute;
    z-index: 1;
    bottom: 0%;
}



h1 {
    position: absolute;
    text-align: center;
    font-size: 48px;
    color: white;
    top: 20%;
    z-index: 2;
}

.credits-roll {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 24px;
    top: 35%;
    z-index: 2;
}

#home-background {
    max-width: 1920px;
    width: 812px;
    height: 574px;
    z-index: 1;
}

.game-buttons {
    position: absolute;
    display: flex;
    justify-content: space-around;
    padding:  15px 20px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    bottom: 15%;
    z-index: 2;
}

#play {
    left: 15%;
}

#credits {
    right: 15%;
}

#sleep {
    right: 5%;
}

#entertain {
    right: 20%;
}

#feed {
    right: 33%;
}

.bar-border {
    background-color: rgba(192, 192, 192, 0.938);
    width: 50%;
    border-radius: 15px;
    z-index: 3;
}

.bar-fill {
    background-color: rgb(116, 194, 92);
    color: white;
    width: 0%;
    height: 15px;
    text-align: center;
    line-height: 13px;
    border-radius: 15px;
}

.progress {
    width: 50%;
    position: absolute;
    left: 1%;
    z-index: 3;
}

#hunger-bar, #hunger-title {
    bottom: 70%;
}

#bored-bar, #boredom-title {
    bottom: 40%;
}

#sleep-bar, #sleep-title{
    bottom: 10%;
}

.bar-title  {
    color: white;
    position: absolute;
    left: 1%;
    z-index: 3;
}

.in-game {
    bottom: 35%;
}

.pet-screen {
    position: absolute;
    display: block;
    z-index: 2;
}

#lylee-img, #pokemone-img, #skarwa-img {
    height: 110px;
}

#lylee-name, #pokemone-name, #skarwa-name {
    color: white;
    position:absolute;
    font-size: 24px;
    bottom: 75%;
}

label {
    bottom: 35%;
    color: white;
}

input {
    bottom: 29%;
}

.card {
    display: flex;
    justify-content: space-evenly;
    margin: 0 35px;
}

#lylee {
    left: 10%;
}

#skarwa {
    right: 10%;
}