body {
    display: flex;
    align-items: center;
    justify-content: center;
}


.game-container {
    position: relative;
    padding-right: auto;
    width: 812px;
    height: 574px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.control-board {
    background-color: rgba(0, 0, 0, 0.671);
    padding: 96px 406px;
    position: absolute;
    z-index: 1;
    bottom: 0%;
}



h1 {
    position: absolute;
    text-align: center;
    font-size: 48px;
    color: white;
    top: 20%;
    z-index: 2;
}

.credits-roll {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 24px;
    top: 35%;
    z-index: 2;
}

#home-background {
    max-width: 1920px;
    width: 812px;
    height: 574px;
    z-index: 1;
}

.game-buttons {
    position: absolute;
    display: flex;
    justify-content: space-around;
    padding:  15px 20px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    bottom: 15%;
    z-index: 2;
}

#play {
    left: 15%;
}

#credits {
    right: 15%;
}

#sleep {
    right: 5%;
}

#entertain {
    right: 20%;
}

#feed {
    right: 33%;
}



#hunger-bar-border, #bored-bar-border, #sleep-bar-border {
    background-color: rgba(192, 192, 192, 0.938);
    width: 50%;
    border-radius: 15px;
    z-index: 3;
}

#hunger-bar, #bored-bar, #sleep-bar {
    background-color: rgb(116, 194, 92);
    width: 0%;
    height: 15px;
    text-align: center;
    line-height: 13px;
    border-radius: 15px;
}

.progress {
    position: absolute;
    left: 1%;
}

#hunger-bar, #hunger-title, #hunger-bar-border {
    bottom: 70%;
}

#bored-bar, #boredom-title, #bored-bar-border {
    bottom: 40%;
}

#sleep-bar, #sleep-title, #sleep-bar-border {
    bottom: 10%;
}

.bar-title  {
    color: white;
    position: absolute;
    left: 1%;
    z-index: 3;
}

.in-game {
    bottom: 35%;
}

#name-of-name {
    color: white;
    bottom: 75%;
    right: 26%;
}

#name-of-pet {
    color: white;
    position: absolute;
    bottom: 70%;
    right: 26%;
    z-index: 4;
}

#age {
    color: white;
    position: absolute;
    bottom: 70%;
    right: 16%;
}

/*for styling the pet selection screen*/
.pet-screen {
    position: absolute;
    display: block;
    z-index: 2;
}

#lylee-img, #pokemone-img, #skarwa-img {
    height: 110px;
}

#lylee-name, #pokemone-name, #skarwa-name {
    color: white;
    position:absolute;
    font-size: 24px;
    bottom: 100%;
}

#name-instruct {
    top: 40%;
    left: 25%;
    font-size: 24px;
    color: white;
}

#pet-name {
    height: 4%;
    width: 25%;
    font-size: 18px;
    top: 46%;
    left: 39%;
}

.card {
    display: flex;
    justify-content: space-evenly;
    margin: 0 35px;
    top: 20%;
}

#lylee {
    left: 10%;
}

#pokemone {
    left: 40%;
}

#skarwa {
    right: 10%;
}

#pet-screen-title {
    color: white;
    top: 5%;
}

#how-to-play {
    color: white;
    bottom: 30%;
    left: 8%;
    font-size: 18px;
    text-align: center;
}

#begin-game {
    left: 40%;
}

#pet-choice {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
}

/* styling to make the images a radio choice */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* makes the cursor become a pointer so you know you can choose the image */
[type=radio]+img {
    display: flex;
    cursor: pointer;
}

[type=radio]:checked+img {
    outline: 2px solid white;
}

